---
import Layout from '../layouts/Layout.astro';
import { VehicleCatalog } from '../components/catalog/VehiculeCatalog';

---

<Layout title="Catálogo - Doble Tracción">
  <main class="bg-black min-h-screen py-36">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold text-white mb-8">Catálogo de Vehículos</h1>
      <VehicleCatalog client:load />
    </div>
  </main>
</Layout>