---
---
<header class="bg-black text-white py-4">
  <nav class="container mx-auto flex justify-between items-center px-4">
    <div class="flex items-center">
     <a href="/">
      <img src="/images/logo/logo.webp" alt="Doble Tracción" class="md:h-24 h-12" />
     </a>
    </div>
    <div class="hidden md:flex space-x-6">
      <a href="/" class="hover:text-yellow-400">INICIO</a>
      <a href="/nosotros" class="hover:text-yellow-400">NOSOTROS</a>
      <a href="/catalogo" class="hover:text-yellow-400">CATÁLOGO</a>
      <a href="/contacto" class="hover:text-yellow-400">CONTACTO</a>
    </div>
    <a href="#vende" class="bg-yellow-400 text-black px-6 py-2 rounded-md font-bold hover:bg-yellow-500">
      VENDE TU 4X4
    </a>
  </nav>
</header>